/* Force dl-horizontal même pour les écrans de petites tailles */
.dl-horizontal dt {
	float: left;
	width: 160px;
	overflow: hidden;
	clear: left;
	text-align: right;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.dl-horizontal dd {
    margin-left: 180px;
}

/* body */
.portlet-body {
	padding-top: 10px;
}


/* Custom links */
a, a:hover, a:focus {
    text-decoration: none;
}
a span, a:hover span, a:focus span {
    text-decoration: underline;
}
.button span, a.btn span, table.pagination a:hover span {
    text-decoration: none;
}


/* Liens au dessus du menu */
#formIcones {
	text-align: right;
	margin-bottom: 5px;
}
#formIcones i, #formMenu i, a i {
    vertical-align: middle;
}

/* Signification résultats (notes/détails notes) */
.mdw-code-res {
    border-bottom: dashed 1px;
    cursor: help;
}

/* Correction checkbox formulaire */
.form-horizontal .checkbox {
	display: inline-block;
	margin: 0;
	padding: 0;
}

/* Correction liste unstyled */
ul.list-unstyled {
    margin-left: 0;
}
ul.list-unstyled li {
    padding: 0;
}
ul.list-unstyled li::before {
    content: none;
}

/* Correction fil d'Ariane */
ol.breadcrumb {
    margin-left: 0;
}
ol.breadcrumb li {
    padding-bottom: 0;
}
.breadcrumb>li:before {
    content: none;
}
.breadcrumb>li+li:before {
    padding: 0 5px;
    color: #ccc;
    content: "/\00a0";
    font-weight: normal;
    width: auto;
    margin: 0;
    text-align: left;
}

/* Correction liste description */
.esup-mondossierweb dd {
    color: inherit;
    font-size: inherit;
    font-weight: inherit;
}


/* Paginateur */
table.pagination {
	display: table;
	margin : auto;
}
table.pagination td {
	padding: 5px;
}
table.pagination td.active {
    font-weight: bold;
}
